body{font-family: 'Montserrat', sans-serif;
color: #434343;
margin: 0;
padding: 0;}

.bg-body-tertiary {
    --bs-bg-opacity: 0;
    background-color: transparent;}


.navbar {--bs-navbar-brand-color: #434343;
    --bs-navbar-nav-link-padding-x: 1rem;}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
        color: #434343;
        --bs-nav-link-hover-color: #ff9900;}

.navbar-nav {
--bs-nav-link-color: #434343;
 --bs-nav-link-hover-color: #ff9900;
 --bs-nav-link-disabled-color: #68360a}

.navbar-brand {font-weight: 600;
font-size: 18px;
padding-left: 10px;}

.active {font-weight: 600;}

.btn {
    --bs-btn-padding-x: 0rem;
    --bs-btn-font-size: 18px;
color: #434343}

.btn a {text-decoration: none;
color: #434343;}

.btn a:hover{
    color: #ff9900;
transition: 0.1s;}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    color: #ff9900;
    background-color: transparent;
    border-color: transparent;}

.btn:hover {color: #ff9900;}

.nav-link {font-size: 18px;}

.dropdown-menu {--bs-dropdown-link-hover-color: white;
    --bs-dropdown-link-hover-bg: #ff9900;
    --bs-dropdown-link-active-color: white;
    --bs-dropdown-link-active-bg: #68360a;
border: 1px solid transparent;
--bs-dropdown-padding-y: 0;}

.margin_main {margin: 30px;}

.title_offer {
  text-transform: uppercase;
  color: #fff;
  font-weight: 800;
  letter-spacing: 0.3rem;
  font-size: 48px;
  margin: 100px 0 100px 0;
  padding: 20px;
}
    
.title_main {text-transform: uppercase;
font-size: 30px;
margin: 70px 0 50px 0;
font-weight: 500;}

.text_main {font-size: 20px;
text-align: justify;}

.text_opp p {font-size: 20px;
padding: 30px 0 30px 0;
margin: 0 auto;
font-style: italic;}


.footer_main {margin-top: 50px;
background-color:#ff9900 ;}

footer a{color: #fff;
font-size: 20px;
font-weight: 600;
padding: 7px 0 7px 0;}

footer a:hover {opacity: 0.8;
transition: 0.2s;}

footer span {
padding: 7px 0 7px 0;
font-size: 20px;
font-weight: 600;
color: #fff;}

footer p {margin: 0;
    padding: 7px 0 7px 0;
    font-size: 20px;
    color: #fff;}

.map {margin: 0;
padding: 7px 0 7px 0;}


